<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fyp.digitalid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Adding Camera, Write External Storage Permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Digital ID"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigitalID"
        android:usesCleartextTraffic="true">
        <activity android:name=".RegisterScanner"></activity>
        <activity android:name=".UserId" />
        <activity
            android:name=".AcceptReject"
            android:label="Access Request" />
        <activity
            android:name=".leqing"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".QrHistory"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ContactUs"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".VerifyAccount"
            android:label="Verify Your Account" />
        <activity
            android:name=".ShowQr"
            android:label="Proof Your Identity" />
        <activity
            android:name=".QrScanner"
            android:label="QR code Scanner" />
        <activity
            android:name=".LogOut"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".GiveAccess"
            android:label="@string/giveaccess" />
        <activity
            android:name=".PersonalData"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".HomePage"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".Verifying"
            android:label="@string/verifyaccount"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".Camera"
            android:label="@string/takeidphoto"
            android:parentActivityName=".VerifyAccount" />
        <activity
            android:name=".SignUp"
            android:label="Fill In Your Information"
            android:parentActivityName=".Login" />
        <activity
            android:name=".Login"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>